<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LUS - Listando Usuários</title>
  <!-- FONTE -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <!-- ICONES -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <!-- BOOTSTRAP <3 -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- VUE -->
  <script src='https://cdn.jsdelivr.net/npm/vue'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

</head>

<body>
  <div id="app">

    <div class="wrapper ">
      <div class="main-panel">

        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-brand"> <a class="navbar-brand" href="#" @click.stop.prevent="mode='tabela'">
                <i v-if="mode!='tabela'" class='fas fa-angle-left' ></i>
                LUS -Listando Usuários
                </a> </div>
            </div>
            <div class="navbar-toggler">
              <a class="btn-rotate" href="#" @click.stop.prevent="mode='editar'">
                <i class="fas fa-user-plus"></i>
              </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link btn-rotate" href="#" @click.stop.prevent="mode='editar'">
                    <i class="fas fa-user-plus"></i>
                    <p>
                      <span class="d-lg-none d-md-block"></span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="content">
          <!-- CONTEUDO -->


          <tabela :items="Var" v-if="mode == 'tabela'"></tabela>
          <editar v-if="mode == 'editar'"></editar>
          <usuario v-if="mode == 'usuario'"></usuario>


        </div>

      </div>
    </div>
  </div>

  <template id="usuario">
    <div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-user">
            <div class="image">
              <img src="assets/img/damir-bosnjak.jpg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <a href="#">
                  <img class="avatar border-gray" src="assets/img/default-avatar.png" alt="...">
                  <h5 class="title">{{dados.name}}</h5>
                </a>
                <p class="description">
                  @{{dados.username}}
                </p>
              </div>
              <p class="description text-center">
                "{{dados.company.catchPhrase}}"
              </p>
            </div>
            <div class="card-footer">
              <hr>
              <div class="button-container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12 ml-auto">
                    <h5>{{dados.phone}}
                      <br>
                      <small>Telefone</small>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Atualizar</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-2 ">
                    <div class="form-group">
                      <label>ID</label>
                      <input type="text" class="form-control" v-model="dados.id" disabled="" placeholder="ID">
                    </div>
                  </div>
                  <div class="col-md-10 ">
                    <div class="form-group">
                      <label>Usuário</label>
                      <input type="text" class="form-control" v-model="dados.username" placeholder="Usuário">
                      <small v-if="!usernameisValid" class="text-danger">Usuário Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Nome</label>
                      <input class="form-control" v-model="dados.name" placeholder="Nome">
                      <small v-if="!nameisValid" class="text-danger">Nome Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="" class="form-control" v-model="dados.email" placeholder="Email">
                      <small v-if="!emailisValid" class="text-danger">Email Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 ">
                    <div class="form-group">
                      <label>Rua</label>
                      <input type="text" class="form-control" v-model="dados.address.street" placeholder="Rua">
                      <small v-if="!streetisValid" class="text-danger">Rua Inválido</small>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="form-group">
                      <label>Número</label>
                      <input type="text" class="form-control" v-model="dados.address.suite" placeholder="Número">
                      <small v-if="!suiteisValid" class="text-danger">Número Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 ">
                    <div class="form-group">
                      <label>Cidade</label>
                      <input type="text" class="form-control" v-model="dados.address.city" placeholder="Cidade">
                      <small v-if="!cityisValid" class="text-danger">Cidade Inválida</small>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="form-group">
                      <label>CEP</label>
                      <input type="text" class="form-control" v-model="dados.address.zipcode" placeholder="CEP">
                      <small v-if="!zipcodeisValid" class="text-danger">CEP Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Latitude</label>
                      <input type="text" class="form-control" v-model="dados.address.geo.lat" placeholder="Latitude">
                      <small v-if="!latisValid" class="text-danger">Latitude Inválida</small>
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Longitude</label>
                      <input type="text" class="form-control" v-model="dados.address.geo.lng" placeholder="Longitude">
                      <small v-if="!lngisValid" class="text-danger">Longitude Inválida</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Telefone</label>
                      <input type="" class="form-control" v-model="dados.phone" placeholder="Telefone">
                      <small v-if="!phoneisValid" class="text-danger">Telefone Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Site</label>
                      <input type="" class="form-control" v-model="dados.website" placeholder="Site">
                      <small v-if="!websiteisValid" class="text-danger">Site Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Nome da Empresa</label>
                      <input type="" class="form-control" v-model="dados.company.name" placeholder="Nome">
                      <small v-if="!cnameisValid" class="text-danger">Nome Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Frase</label>
                      <input type="text" class="form-control" v-model="dados.company.catchPhrase" placeholder="Frase">
                      <small v-if="!cphraseisValid" class="text-danger">Frase Inválido</small>
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>BS</label>
                      <input type="text" class="form-control" v-model="dados.company.bs" placeholder="BS">
                      <small v-if="!cbsisValid" class="text-danger">BS Inválido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button class="btn btn-danger btn-round" @click.stop.prevent="DeleteUser()">Deletar</button>
                    <i v-if="notif.spin" class="fa fa-refresh fa-spin"></i>
                  </div>
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round"
                      @click.stop.prevent="UpdateUser()">Atualizar</button>
                    <i v-if="notif.spin2" class="fa fa-refresh fa-spin"></i>
                    <br> <small v-if="envio && !Send()" class="text-danger">Dado(s) invalido(s)</small>
                  </div>

                </div>
              </form>
              <div v-if="notif.sit=='sucesso'" class="alert alert-success alert-dismissible fade show">
                <button type="button" aria-hidden="true" @click.stop.prevent="notif.sit=''" class="close"
                  data-dismiss="alert" aria-label="Close">
                  <i class="fa fa-close"></i>
                </button>
                <span>
                  <b> Successo - </b> {{notif.valor}} com sucesso</span>
              </div>
              <div v-if="notif.sit=='danger'" class="alert alert-danger alert-dismissible fade show">
                <button type="button" aria-hidden="true" @click.stop.prevent="notif.sit=''" class="close"
                  data-dismiss="alert" aria-label="Close">
                  <i class="fa fa-close"></i>
                </button>
                <span>
                  <b> Erro - </b> Não foi possivel {{notif.valor}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="editar">
    <div>
      <div class="card card-user">
        <div class="card-header">
          <div class="row">
            <div class='col-md-9'>
              <h5>Novo Usuário</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class='row'>
              <div class='update ml-auto mr-auto'> <button class="btn btn-primary btn-round"
                  @click.stop.prevent="Create()">Gerar dados de Usuário</button></div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label>ID</label>
                  <input type="text" class="form-control" disabled="" v-model="usuario.id" placeholder="ID">
                </div>
              </div>
              <div class="col-md-10 ">
                <div class="form-group">
                  <label>Usuário</label>
                  <input type="text" class="form-control" v-model="usuario.username" placeholder="Usuário">
                  <small v-if="!usernameisValid" class="text-danger">Usuário Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Nome</label>
                  <input type="" class="form-control" v-model="usuario.name" placeholder="Nome">
                  <small v-if="!nameisValid" class="text-danger">Nome Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="" class="form-control" v-model="usuario.email" placeholder="Email">
                  <small v-if="!emailisValid" class="text-danger">Email Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 ">
                <div class="form-group">
                  <label>Rua</label>
                  <input type="text" class="form-control" v-model="usuario.address.street" placeholder="Rua">
                  <small v-if="!streetisValid" class="text-danger">Rua Inválido</small>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="form-group">
                  <label>Número</label>
                  <input type="text" class="form-control" v-model="usuario.address.suite" placeholder="Número">
                  <small v-if="!suiteisValid" class="text-danger">Número Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 ">
                <div class="form-group">
                  <label>Cidade</label>
                  <input type="text" class="form-control" v-model="usuario.address.city" placeholder="Cidade">
                  <small v-if="!cityisValid" class="text-danger">Cidade Inválida</small>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="form-group">
                  <label>CEP</label>
                  <input type="text" class="form-control" v-model="usuario.address.zipcode" placeholder="CEP">
                  <small v-if="!zipcodeisValid" class="text-danger">CEP Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 ">
                <div class="form-group">
                  <label>Latitude</label>
                  <input type="text" class="form-control" v-model="usuario.address.geo.lat" placeholder="Latitude">
                  <small v-if="!latisValid" class="text-danger">Latitude Inválida</small>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-group">
                  <label>Longitude</label>
                  <input type="text" class="form-control" v-model="usuario.address.geo.lng" placeholder="Longitude">
                  <small v-if="!lngisValid" class="text-danger">Longitude Inválida</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Telefone</label>
                  <input type="" class="form-control" v-model="usuario.phone" placeholder="Telefone">
                  <small v-if="!phoneisValid" class="text-danger">Telefone Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Site</label>
                  <input type="" class="form-control" v-model="usuario.website" placeholder="Site">
                  <small v-if="!websiteisValid" class="text-danger">Site Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Nome da Empresa</label>
                  <input type="" class="form-control" v-model="usuario.company.name" placeholder="Nome">
                  <small v-if="!cnameisValid" class="text-danger">Nome Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 ">
                <div class="form-group">
                  <label>Frase</label>
                  <input type="text" class="form-control" v-model="usuario.company.catchPhrase" placeholder="Frase">
                  <small v-if="!cphraseisValid" class="text-danger">Frase Inválido</small>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-group">
                  <label>BS</label>
                  <input type="text" class="form-control" v-model="usuario.company.bs" placeholder="BS">
                  <small v-if="!cbsisValid" class="text-danger">BS Inválido</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-secundary btn-round" @click.stop.prevent="Clear()">Limpar</button>
              </div>
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" @click.stop.prevent="Save()">Salvar</button>
                <i v-if="notif.spin" class="fa fa-refresh fa-spin"></i>
                <br> <small v-if="envio && !Send()" class="text-danger">Dado(s) invalido(s)</small>
              </div>
              
            </div>
          </form>
          <div v-if="notif.sit=='sucesso'" class="alert alert-success alert-dismissible fade show">
            <button type="button" aria-hidden="true" @click.stop.prevent="notif.sit=''" class="close"
              data-dismiss="alert" aria-label="Close">
              <i class="fa fa-close"></i>
            </button>
            <span>
              <b> Successo - </b> {{notif.valor}} com sucesso</span>
          </div>
          <div v-if="notif.sit=='danger'" class="alert alert-danger alert-dismissible fade show">
            <button type="button" aria-hidden="true" @click.stop.prevent="notif.sit=''" class="close"
              data-dismiss="alert" aria-label="Close">
              <i class="fa fa-close"></i>
            </button>
            <span>
              <b> Erro - </b> Não foi possivel {{notif.valor}}</span>
          </div>
        </div>
      </div>

    </div>
  </template>

  <template id="tabela">
    <div>
      <form>
        <div class="input-group no-border">
          <input type="text" v-model="pesquisa" class="form-control" placeholder="Buscar...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Lista de Usuários</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Nome
                    </th>
                    <th class="d-none d-lg-table-cell">
                      Email
                    </th>
                    <th class="d-none d-lg-table-cell">
                      Telefone
                    </th>
                    <th class="d-none d-lg-table-cell">
                      Site
                    </th>
                  </thead>
                  <tbody>
                    <tr style="cursor: pointer;" v-for="(item, index) in filterNames" :key="index" @click.stop.prevent="onClickRow(item.id)">
                      <td>
                        <div class="row">
                          <div class="col-md-2 col-2">
                            <img :src="img" alt="Foto de usuario" class=" d-none d-lg-table-cell img-fluid img-thumbnail">
                          </div>
                          <div class="col-md-10 col-10">
                            {{item.name}}
                            <br />
                            <span class="text-muted">
                              <small>{{item.username}}</small>
                            </span>
                          </div>
                        </div>
                      </td>
                      <td class="d-none d-lg-table-cell">{{item.email}}</td>
                      <td class="d-none d-lg-table-cell">{{item.phone}}</td>
                      <td class="d-none d-lg-table-cell">{{item.website}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script src="index.js"></script>
</body>

</html>